/* Theo Economos
ITM 362 - Project 1
Prof. Karl Stolley
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* --FONT-- */
/* Type is set to MAJOR THIRD from Modular Scale */
/* Instead of typing at each line of code, I will summarize the conversions here to make it easier*/
/* (BASE= 1.125em = 18px)
1.25em = 22.5px @ Base
1.953em = 35.156px @ Base
0.75em = 22.5px @ 35.156px em
1.563em = 28.125px @ Base
0.625em = 11.25px @ Base
*/

/* --MAIN BLOCKS-- */

html {
  background-color: #5a5c51;
  font-size: 1.125em;
  font-family:'Righteous', cursive;
  font-weight: bold;
  color: #003A63;
  line-height: 1.25em;
  text-align: center;
}

body {
  padding: 0.8em 0.8em;
}

footer {
  text-align: center;
  padding: 2.441em;
}

h1 {
  font-size: 3.052em;
  padding: 1.25em;
}

h2 {
  font-size: 2.441em;
  padding: 1.25em;
}

h3 {
  font-size: 1.953em;
  padding: 1.25em;
}

form {
  background-color: #62bcfa;
}