/* Theo Economos
ITM 362 - Project 1
Prof. Karl Stolley
*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* --FONT-- */
/* Type is set to MAJOR THIRD from Modular Scale */
/* Instead of typing at each line of code, I will summarize the conversions here to make it easier*/
/* (BASE= 1.25em = 20px / 16px)
Line height  = 1.2em = 24px @ Base
1.953em = 35.156px @ Base
1.563em = 28.125px @ Base
1.2em 0.96em @ 19.2px
*/

/* --MAIN BLOCKS-- */

html {
  background-color: #F0F8FF;
  font-family: 'Raleway', sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #003A63;
  line-height: 1.2em;
  padding: 1.2em 0.96em;
}

body {
  padding: 0.8em 0.8em;
}

footer {
  text-align: center;
  padding: 2.441em;
}

h1 {
  font-family:'Righteous', cursive;
  font-size: 3.052em;
  padding: 1.2em;
  text-align: center;
}

h2 {
  font-family:'Righteous', cursive;
  font-size: 2.441em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

h3 {
  font-family:'Righteous', cursive;
  font-size: 1.953em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
}

figure {
	text-align: center;
}

/* -- FORM -- */

label {
	display: block;
	color: #3333A2;
	padding-bottom: 0.41em;
	padding-top: 0.41em;
}

form {
  background-color: #62bcfa;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border-style: ridge;
  border-width: 0.41em;
  padding: 1.2em;
}

/* -- SUBMIT -- */

#submit {
  margin: 1.2em;
}